@import "./../../styles//main.scss";
@import "../../styles/abstracts/mixins.scss";
.product__card__container {
  padding: 1rem;
  background-color: white;
  width: 257px;
  height: 390px;
  box-shadow: 1px 1px 7px rgb(224, 224, 224);
  border-radius: 15px;
  &:hover {
    box-shadow: 1px 1px 7px rgb(202, 202, 202);
  }
}
.product__card {
  height: 100%;
  position: relative;
  &:hover &-hover {
    visibility: visible;
    opacity: 1;
    bottom: 60%;
  }

  &:hover &-product-price {
    transform: translateY(22rem);
  }
  &:hover &-add-to-cart {
    transform: translateY(0);
  }
  &-info {
    height: 90%;
    position: relative;
    cursor: pointer;

    &-img-container {
      width: 100%;
      height: 75%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-category-rating {
      position: relative;
      border-bottom: solid rgb(150, 150, 150) 1px;
      z-index: 1;
      padding: 1rem 0;

      &-category {
        text-transform: capitalize;
        & > span {
          display: inline-block;
          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &-rating {
        display: inline-block;
      }
    }
    &-product-name {
      width: 100%;
      position: absolute;
      background-color: white;

      a {
        text-decoration: none;
        &:visited {
          color: black;
        }
      }
    }
  }
  &-hover {
    display: none;
  }
  @include media(">=tablet") {
    &-hover {
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 200ms;
      bottom: 20%;
      visibility: hidden;
      opacity: 0;
      :nth-child(2) {
        border-left: none;
        border-right: none;
      }

      &-icon {
        border: 1px solid black;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        color: black;
        background-color: white;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
  &-product-price {
    transition: all ease-in-out 200ms;
    position: absolute;
  }
  &-add-to-cart {
    transition: all ease-in-out 200ms;
    position: absolute;
    transform: translateY(-22rem);
    z-index: 2;
    cursor: pointer;
  }
}

.product__card-price-cart {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 10%;
}
