.cart {
  border-top: 1px solid var(--grayed-out);
  margin-top: 2rem;
  padding: 2rem 0;
  display: flex;
  gap: 4rem;
  user-select: none;
  & > * {
    &:last-child {
      flex: 1;
    }
    &:first-child {
      flex: 1;
    }
  }
  &__items {
    &__item {
      display: flex;
      position: relative;
      margin-bottom: 1rem;
      .item-image {
        flex: 1;
        button {
          cursor: pointer;
          svg {
            color: var(--green-weed);
          }
        }
        img {
          width: 100%;
        }
        &__quantity {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
        }
      }
      .item-info {
        flex: 5;
        width: 40rem;
        & > * {
          margin-top: 0.3rem;
          font-size: 15px;
          &:first-child {
            margin-top: 0.5rem;
            margin-bottom: 0.8rem;
            font-size: 14px;
          }
          &:last-child {
            margin-top: 1.5rem;
          }
        }
      }
      & > p,
      & > button {
        position: absolute;
        right: 0;
        padding: 0;
      }
      & > p {
        right: 1rem;
        bottom: 10%;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
  &__summary {
    padding: 0 2rem;
    & > * {
      margin-bottom: 1rem;
      line-height: 1.7rem;
    }
    .stack {
      display: flex;
      justify-content: space-between;
    }
    .cart-actions {
      .toCheckout {
        display: block;
        width: 100%;
        height: 3rem;
        font-size: 1.5rem;
        text-transform: uppercase;
      }
    }
  }
}
