.changePasswordTab {
  margin-top: 4rem;
  position: relative;
  button.updatePasswordBtn {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
  }
}
.passwordFields {
  padding: 2rem 2rem 6rem 2rem;
}
